<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row content">
            <div class="col-lg-4">
                <div class="section-title" data-aos="fade-right">
                    <h2>About Us</h2>
                    <p>Founded in 1987, our business has grown year by year. We understand the industry and our clients, 
                        we enjoy a stable track record - and this sets us apart.</p>
                </div>
            </div>

            <div class="col-lg-8 pt-4 pt-lg-1" data-aos="fade-left" data-aos-delay="200">
                <p class="paragraph text-justify">At the beginning, TOP RANK focused on the reliable quality supply of active pharmaceutical ingredients 
                    for human and veterinary needs. Since then we have expanded into other industries such as Pulp, Minerals, Chemicals, Food and Flavors. 
                    Througout this journey we have successfully delivered over 4 thousand projects and currently serving over 70 clients with a portfolio 
                    of over 400 products.</p>
                <p class="paragraph text-justify">As a service provider we are offering good customer service, and we respond promptly to the changing 
                    needs of our business partners in Bangladesh and abroad. This is necessary for all and particularly vital for the pharmaceutical 
                    market due to the strict regulatory and qualitative requirements that needs safeguarding of quality and documentation of products. </p>
            </div>
        </div>

    </div>
</section>
<!-- End About Section -->
