<!-- ======= Clients Section ======= -->
<section id="clients" class="clients">
    <div class="container" data-aos="zoom-in">

        <div class="owl-carousel clients-carousel">
            <img src="../assets/img/clients/sodra-logo.svg" alt="sodra-logo">
            <img class="img-size" src="../assets/img/clients/corbion-logo.png" alt="corbion-logo">
            <img src="../assets/img/clients/fischer-logo.png" alt="fischer-logo">
            <img src="../assets/img/clients/qilu-logo.png" alt="qilu-logo">
            <img src="../assets/img/clients/farmabios-logo.png" alt="farmabios-logo">
            <img src="../assets/img/clients/thomas-logo.svg" alt="thomas-logo">
            <img class="img-size" src="../assets/img/clients/titan-logo.png" alt="titan-logo">
            <img class="img-size" src="../assets/img/clients/iol-logo.gif" alt="iol-logo">
            <img class="img-size" src="../assets/img/clients/nandu.png" alt="nandu-logo">
            <img src="../assets/img/clients/fukang-logo.png" alt="fukang-logo">
            <img src="../assets/img/clients/chemstation-logo.png" alt="chemstation-logo">
            <img class="img-size-rb" src="../assets/img/clients/huashu-logo.png" alt="huashu-logo">
            <img class="img-size" src="../assets/img/clients/phale-logo.png" alt="phale-logo">
            <img class="img-size" src="../assets/img/clients/macco-logo.png" alt="macco-logo">
            <img class="img-size-rb" src="../assets/img/clients/datwyler-logo.svg" alt="datwyler-logo">
            <img class="img-size-rb" src="../assets/img/clients/cerbios-logo.png" alt="cerbios-logo">
            <img src="../assets/img/clients/mitsui-logo.png" alt="mitsui-logo">
        </div>

    </div>
</section>
<!-- End Clients Section -->
