<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
                <div class="section-title">
                    <h2>Contact</h2>
                    <p>We work 24/7 round the globe but our offices are open on Saturdays-Thursdays during 9:00am
                        to 6:00pm (BD Time).<br><br> Please send us an email and our experts will get in touch with you shortly.</p>
                </div>
            </div>

            <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
                <div class="info mt-4">
                    <i class="icofont-google-map"></i>
                    <h4>Location:</h4>
                    <p>Green Primavera,
                        35 (Level-5), Road 17, Block E,
                        Banani, Dhaka 1213, Bangladesh.</p>
                </div>
                <div class="row">
                    <div class="col-lg-6 mt-4">
                        <div class="info">
                            <i class="icofont-envelope"></i>
                            <h4>Email:</h4>
                            <p><a href="mailto:info@toprankbd.com">info@toprankbd.com</a></p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="info w-100 mt-4">
                            <i class="icofont-phone"></i>
                            <h4>Call:</h4>
                            <p><a href="tel:+88-02-8833136">+88 02 8833136 – 7</a></p>
                        </div>
                    </div>
                </div>

                <!-- <form action="forms/contact.php" method="post" role="form" class="php-email-form mt-4">
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validate"></div>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                                data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validate"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                            data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" data-rule="required"
                            data-msg="Please write something for us" placeholder="Message"></textarea>
                        <div class="validate"></div>
                    </div>
                    <div class="mb-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form> -->
            </div>
        </div>

    </div>
</section><!-- End Contact Section -->
