<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
    <div class="container">

        <div class="row counters">

            <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                <span class="d-inline" data-toggle="counter-up">71</span>
                <span class="d-inline">+</span>
                <p>Clients</p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                <span class="d-inline" data-toggle="counter-up">4691</span>
                <span class="d-inline">+</span>
                <p>Projects</p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                <span class="d-inline" data-toggle="counter-up">471</span>
                <span class="d-inline">+</span>
                <p>Products</p>
            </div>

            <!-- <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">15</span>
                <p>Hard Workers</p>
            </div> -->

        </div>

    </div>
</section><!-- End Counts Section -->
