<!-- ======= Services Section ======= -->
<!-- <section id="service-details" class="services section-bg product-section">
  <div class="container">

      <div class="row">
          <div class="col-lg-12">
              <div class="section-title" data-aos="fade-right">
                  <a href="/#services"><p><i class="icofont-rounded-left"></i> Back to Services</p></a>
                  <h2>Services</h2>
                  <p>We operate round the clock making sure of that you get the best outcome. Our focus 
                      is on offering you first class service, from marketing to handling orders with 
                      experienced technical support and ensuring payments on time. If there is a dispute, 
                      we stand by you at all times...</p>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-md-12 d-flex align-items-stretch mb-4">
              <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                  <h4>Performance and Best Possible Value Creation</h4>
                  <p class="paragraph">TOP RANK focuses on your specific requirements and offers business engagement, reliability of supply
                      and a quality guarantee.</p>
                  <p class="paragraph">Close ties with customers and suppliers of our involved industries allow us to quickly get a grasp of 
                      your individual requirements and needs as well. The company is known for its competence and transparency. </p>
                  <p class="paragraph">As your first-choice service provider, TOP RANK stands for fair cooperation and service that goes the 
                      extra mile. Our business relationships are based on personal and trust-based interaction, guaranteeing 
                      highly productive, growing and long-lasting business partnerships.</p>
              </div>
          </div>

          <div class="col-md-12 d-flex align-items-stretch mt-4 mt-lg-0">
              <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                  <h4>Logistics Solutions</h4>
                  <p class="paragraph">Customers have the option of purchasing smaller or larger volumes. You can decide on packaging, pallets, 
                      labels and whether or not duty paid or unpaid goods are needed. TOP RANK guarantees efficient and prompt 
                      deliveries from European and Asian warehouses. We focus on customers and suppliers, with quick 
                      decision-making and flexibility.</p>
              </div>
          </div>
      </div>

  </div>
</section> -->
<!-- End Services Section -->


<!-- ======= Why Us Section ======= -->
<section id="why-us-details" class="why-us product-section">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 d-flex align-items-stretch" data-aos="fade-right">
                <div class="section-title">
                    <a href="/#why-us"><p><i class="icofont-rounded-left"></i> Back to About</p></a>
                    <h2>Why Choose Us?</h2>
                    <p>
                        We have helped scores of manufacturers improve their front lines across a variety 
                        of industries, from the pharmaceutical sector to the paints, plastics and the paper 
                        sector. By putting our clients at the heart of everything we do, we are proud that 
                        we are still supporting our very first business client. With more than 35 years of 
                        experience in sourcing and expanding, we have the best tools in the trade to help you 
                        improve your business.
                    </p>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-xl-12 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box mt-4 mt-xl-0">
                    <h5 class="details-header"><i class="ri-check-double-line"></i> Comprehensive Project Management</h5>
                    <p class="paragraph text-justify">Our extensive experience managing all types of complex projects means we will 
                        handle every detail and coordinate all customers so you can rest assured that 
                        your project will be successful as undertaken.
                    </p>
                </div>
            </div>
            <div class="col-xl-12 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box mt-4 mt-xl-0">
                    <h5 class="details-header"><i class="ri-check-double-line"></i> We Mold On Our Customer’s Needs</h5>
                    <p class="paragraph text-justify">We are agile and ready to align based on product specificity, so our customer’s 
                        needs are always met with quality and best resources. We know both the art of 
                        matching people and the science of sincerity.
                    </p>
                </div>
            </div>
            <div class="col-xl-12 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box mt-4 mt-xl-0">
                    <h5 class="details-header"><i class="ri-check-double-line"></i> Long-term Relationships</h5>
                    <p class="paragraph text-justify">Even the best laid plans can be blown off course. That’s why we build long-term 
                        relationships with our clients to ensure you stay on track to meet your objectives.</p>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Why Us Section -->
