<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Top Rank</h3>
                    <p>
                        Green Primavera, 35 (Level-5),<br>
                        Road 17, Block E, Banani,<br>
                        Dhaka-1213, Bangladesh. <br>
                        <strong>Phone:</strong> +88 02 8833136 – 7<br>
                        <strong>Email:</strong> <a href="mailto:info@toprankbd.com">info@toprankbd.com</a> <br><br>

                        <strong>Chittagong Office:</strong> House # 417, <br>
                        Road # 12 CDA R/A, Agrabad, <br>
                        Chittagong-4100, Bangladesh.
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/#hero">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/#about" class="scrollto">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/#services" class="scrollto">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/#products" class="scrollto">Products</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Products</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/pharma/#pharma-details">Pharma</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/product/#pulp-details">Pulp</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/product/#minerals-details">Minerals</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/chemicals/#chemicals-details">Chemicals</a></li>                      
                        <li><i class="bx bx-chevron-right"></i> <a href="/product/#metal-scrap-details">Metal Scrap</a></li>                      
                        <li><i class="bx bx-chevron-right"></i> <a href="/product/#food-flavors-details">Food & Flavors</a></li>                      
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>Our Sister Concerns</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="http://www.toppolymersbd.com/" 
                                target="_blank">Top Polymers</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="http://www.simplexhub.com/"
                                target="_blank">Simplexhub</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="http://www.gskglobal.com.au/"
                                target="_blank">GSK Global</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">

        <div class="mr-md-auto text-center text-md-left">
            <div class="copyright">
                &copy; Copyright <strong><span>Top Rank</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Developed by <a href="http://www.simplexhub.com/" target="_blank">Simplexhub</a>
            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="#" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://api.whatsapp.com/send?phone=+8801747115156" target="_blank" class="linkedin"><i class="bx bxl-whatsapp"></i></a>
            <a href="skype:live:info_977840?call" class="google-plus"><i class="bx bxl-skype"></i></a>
        </div>
    </div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
