<!-- ======= Pharma Section ======= -->
<section id="pharma-details" class="portfolio product-section">
    <div class="container">
  
      <div class="section-title content" data-aos="fade-left">
         <a href="/#products"><p><i class="icofont-rounded-left"></i> Back to Products</p></a>
        <h2>Pharma</h2>
        <img src="../assets/img/pharma-bg.jpg" alt="Pharma" class="img-fluid mb-3">
        <h5><strong>Caring For Our Customers: Quality At Speed…</strong></h5>
        <p class="paragraph">We offer you a compelling combination of non-sterile and sterile steroids, biobased products and
          outstanding service – supported by a backward integrated supply chain and all backed up by 40
          years’ pharmaceutical supply chain experience. The result: Quality products that get to the producers faster.
        </p>
        <p class="paragraph mt-2">Quality is essential for our industry. But it’s innovation is what that gives our customers
          competitive
          differentiation. Today, our manufacturing partners in Europe are using the very latest white biotechnology
          techniques to develop a biobased portfolio of pharma-grade products that are like no other. With decades
          of steroid chemistry expertise and ongoing research and development activities, our business partners provide
          a flexible approach that meets your specific requirements.</p>
        <ul class="mt-2">
          <li><a href="#steroids-details"><i class="ri-check-double-line"></i> Steroids</a></li>
          <li><a href="#sterile-steroids-details"><i class="ri-check-double-line"></i> Sterile Steroids</a></li>
          <li><a href="#high-potent-substances-details"><i class="ri-check-double-line"></i> High Potent Substances</a></li>
          <li><a href="#anti-neoplastics-details"><i class="ri-check-double-line"></i> Anti-neoplastics</a></li>
          <li><a href="#products-for-five-solutions-details"><i class="ri-check-double-line"></i> Products for IV solutions, Personal Care, Home Care and Vitamins</a></li>
          <li><a href="#oncology-details"><i class="ri-check-double-line"></i> Oncology</a></li>
          <li><a href="#veterinary-details"><i class="ri-check-double-line"></i> Veterinary</a></li>
          <li><a href="#sealing-solutions-packaging-details"><i class="ri-check-double-line"></i> Sealing Solutions/Packaging</a></li>
          <li><a href="#others-details"><i class="ri-check-double-line"></i> Others</a></li>
  
        </ul>
      </div>
  
    </div>
  </section>

<!-- ======= Product Section ======= -->
<section id="steroids-details" class="portfolio product-list product-section">
    <div class="container">
  
      <div class="section-title content" data-aos="fade-left">
        <a href="#pharma-details"><p><i class="icofont-rounded-left"></i> Back to Pharma</p></a>
        <h2>Steroids</h2>
        <table class="table table-striped">
          <thead>
            <tr class="product-tr">
              <th scope="col">Active Ingredient <br>CAS Number</th>
              <th scope="col">Therapeutic Areas</th>
              <th scope="col">Available Grades</th>
              <th scope="col">Regulatory Documentation</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>AMCINONIDE <br>51022-69-6</td>
              <td>DERMATOLOGIC</td>
              <td>MICRONIZED</td>
              <td>EU DMF</td>
            </tr>
            <tr>
              <td>BECLOMETHASONE <br>DIPROPIONATE <br>5534-09-8</td>
              <td>RESPIRATORY</td>
              <td>STANDARD <br>MICRONIZED</td>
              <td>EU DMF <br>US DMF <br>CEP</td>
            </tr>
            <tr>
              <td>BECLOMETHASONE <br>DIPROPIONATE <br>MONOHYDRATE <br>77011-63-3</td>
              <td>RESPIRATORY</td>
              <td>MICRONIZED</td>
              <td>EU DMF <br>US DMF</td>
            </tr>
            <tr>
              <td>BETAMETHASONE <br>DIPROPIONATE <br>5593-20-4</td>
              <td>DERMATOLOGIC</td>
              <td>MICRONIZED</td>
              <td>EU DMF <br>US DMF <br>CEP</td>
            </tr>
            <tr>
              <td>BETAMETHASONE <br>VALERATE<br> 2152-44-5</td>
              <td>DERMATOLOGIC</td>
              <td>MICRONIZED</td>
              <td>EU DMF <br>US DMF <br>J DMF <br>CEP</td>
            </tr>
            <tr>
              <td>BUDESONIDE<br> 51333-22-3</td>
              <td>RESPIRATORY<br> GASTRO-INTESTINAL</td>
              <td>MICRONIZED</td>
              <td>EU DMF <br>US DMF <br>CEP <br>J DMF <br>CHINESE DMF</td>
            </tr>
            <tr>
              <td>CHLORMADINONE <br>ACETATE<br> 302-22-7</td>
              <td>CONTRACEPTIVE</td>
              <td>MICRONIZED</td>
              <td>EU DMF <br>J DMF <br>CEP*</td>
            </tr>
            <tr>
              <td>CLOBETASOL <br>PROPIONATE <br>25122-46-7</td>
              <td>DERMATOLOGIC</td>
              <td>MICRONIZED</td>
              <td>EU DMF <br>US DMF <br>J DMF <br>CEP</td>
            </tr>
            <tr>
              <td>CLOBETASONE <br>BUTYRATE <br>25122-57-0</td>
              <td>DERMATOLOGIC</td>
              <td>MICRONIZED</td>
              <td>EU DMF</td>
            </tr>
            <tr>
              <td>CLOCORTOLONE <br>PIVALATE <br>34097-16-0</td>
              <td>DERMATOLOGIC</td>
              <td>MICRONIZED</td>
              <td>EU DMF <br>US DMF</td>
            </tr>
            <tr>
              <td>CYPROTERONE <br>ACETATE <br>427-51-0</td>
              <td>ANTI-ANDROGEN</td>
              <td>MICRONIZED</td>
              <td>EU DMF <br>US DMF <br>CEP*</td>
            </tr>
            <tr>
              <td>DELMADINONE <br>ACETATE <br>13698-49-2</td>
              <td>ANTI-ANDROGEN <br>(VETERINARY)</td>
              <td>MICRONIZED</td>
              <td>EU DMF</td>
            </tr>
            <tr>
              <td>DESONIDE <br>638-94-8</td>
              <td>DERMATOLOGIC</td>
              <td>MICRONIZED</td>
              <td>EU DMF <br>US DMF <br>CHINESE DMF</td>
            </tr>
            <tr>
              <td>DESONIDE <br>SODIUM <br>PHOSPHATE <br>94087-98-6</td>
              <td>OPHTHALMIC</td>
              <td>STANDARD</td>
              <td>EU DMF</td>
            </tr>
            <tr>
              <td>DESOXIMETASONE <br>382-67-2</td>
              <td>DERMATOLOGIC <br>OPHTHALMIC</td>
              <td>MICRONIZED</td>
              <td>EU DMF <br>US DMF</td>
            </tr>
            <tr>
              <td>DIFLORASONE <br>DIACETATE <br>2557-49-5</td>
              <td>DERMATOLOGIC <br>(AS DIACETATE)</td>
              <td>STANDARD</td>
              <td>EU DMF <br>J DMF</td>
            </tr>
            <tr>
              <td>DIFLUCORTOLONE <br>VALERATE <br>59198-70-8</td>
              <td>DERMATOLOGIC</td>
              <td>MICRONIZED</td>
              <td>EU DMF <br>J DMF</td>
            </tr>
            <tr>
              <td>DIFLUPREDNATE <br>23674-86-4</td>
              <td>OPHTHALMIC</td>
              <td>MICRONIZED</td>
              <td>EU DMF <br>US DMF <br>J DMF</td>
            </tr>
            <tr>
              <td>EXEMESTANE <br>107868-30-4</td>
              <td>ANTI-CANCER</td>
              <td>MICRONIZED</td>
              <td>EU DMF <br>US DMF <br>CEP*</td>
            </tr>
            <tr>
              <td>FLUDROCORTISONE <br>ACETATE <br>514-36-3</td>
              <td>ADRENOCORTICAL <br>INSUFFICIENCY</td>
              <td>MICRONIZED</td>
              <td>EU DMF <br>US DMF <br>CEP*</td>
            </tr>
            <tr>
              <td>FLUDROCORTISONE <br>BASE <br>127-31-1</td>
              <td>ANTI-INFLAMMATORY</td>
              <td>MICRONIZED</td>
              <td>EU DMF</td>
            </tr>
            <tr>
              <td>FLUMETHASONE <br>PIVALATE <br>2002-29-1</td>
              <td>DERMATOLOGIC</td>
              <td>MICRONIZED</td>
              <td>EU DMF</td>
            </tr>
            <tr>
              <td>FLUNISOLIDE <br>3385-03-3</td>
              <td>RESPIRATORY</td>
              <td>STANDARD</td>
              <td>EU DMF <br>US DMF</td>
            </tr>
            <tr>
              <td>FLUNISOLIDE <br>ANHYDROUS <br>3385-03-3</td>
              <td>ANTI-ASTHMATIC</td>
              <td>STANDARD</td>
              <td>EU DMF <br>US DMF</td>
            </tr>
            <tr>
              <td>FLUNISOLIDE <br>HEMIHYDRATE <br>77326-96-6</td>
              <td>RESPIRATORY</td>
              <td>MICRONIZED</td>
              <td>EU DMF <br>US DMF</td>
            </tr>
            <tr>
              <td>FLUOCINONIDE <br>356-12-7</td>
              <td>DERMATOLOGIC</td>
              <td>MICRONIZED</td>
              <td>US DMF <br>CHINESE DMF</td>
            </tr>
            <tr>
              <td>FLUOCINOLONE <br>ACETONIDE <br>67-73-2</td>
              <td>DERMATOLOGIC</td>
              <td>MICRONIZED</td>
              <td>EU DMF <br>US DMF <br>J DMF <br>CEP <br>CHINESE DMF</td>
            </tr>
            <tr>
              <td>FLUOROMETHOLONE <br>BASE <br>426-13-1</td>
              <td>OPHTHALMIC</td>
              <td>MICRONIZED</td>
              <td>EU DMF <br>J DMF</td>
            </tr>
            <tr>
              <td>FLURANDRENOLIDE <br>1524-88-5</td>
              <td>DERMATOLOGIC</td>
              <td>MICRONIZED</td>
              <td>EU DMF<br> US DMF<br> J DMF</td>
            </tr>
            <tr>
              <td>FLUTICASONE <br> FUROATE**<br>80474-14-2</td>
              <td>RESPIRATORY</td>
              <td>MICRONIZED</td>
              <td>EU DMF</td>
            </tr>
            <tr>
              <td>FLUTICASONE <br> PROPIONATE<br>80474-14-2</td>
              <td>RESPIRATORY</td>
              <td>MICRONIZED</td>
              <td>EU DMF<br> US DMF<br>CEP</td>
            </tr>
            <tr>
              <td>FULVESTRANT<br> 129453-61-8</td>
              <td>ANTI-CANCER</td>
              <td>MICRONIZED</td>
              <td>EU DMF<br> US DMF<br>CEP</td>
            </tr>
            <tr>
              <td>HALCINONIDE<br> 3093-35-4</td>
              <td>DERMATOLOGIC</td>
              <td>MICRONIZED</td>
              <td>EU DMF<br> US DMF<br> CHINESE DMF</td>
            </tr>
            <tr>
              <td>HALOMETASONE <br> MONOHYDRATE<br>50629-82-8</td>
              <td>DERMATOLOGIC</td>
              <td>MICRONIZED</td>
              <td>EU DMF</td>
            </tr>
            <tr>
              <td>HYDROCORTISONE <br> ACETATE <br> 50-03-3</td>
              <td>DERMATOLOGIC<br>OPHTHALMIC</td>
              <td>MICRONIZED</td>
              <td>EU DMF<br> CEP*</td>
            </tr>
            <tr>
              <td>HYDROCORTISONE <br>HEMISUCCINATE<br> 2203-97-6</td>
              <td>ANTI-INFLAMMATORY</td>
              <td>STANDARD</td>
              <td>EU DMF</td>
            </tr>
            <tr>
              <td>LOTEPREDNOL <br> ETABONATE<br>82034-46-6</td>
              <td>OPHTHALMIC</td>
              <td>STANDARD<br> MICRONIZED</td>
              <td>EU DMF<br> US DMF<br> &nbsp;</td>
            </tr>
            <tr>
              <td>MEDROXYPROGESTERONE<br> ACETATE<br>71-58-9</td>
              <td>CONTRACEPTIVE</td>
              <td>MICRONIZED</td>
              <td>EU DMF<br> US DMF<br> J DMF</td>
            </tr>
            <tr>
              <td>MEGESTROL <br> ACETATE<br> 595-33-5</td>
              <td>ANTI-CANCER</td>
              <td>MICRONIZED</td>
              <td>EU DMF<br> US DMF<br>CEP</td>
            </tr>
            <tr>
              <td>METHYLTESTOSTERONE<br> 58-18-4</td>
              <td>ANABOLIC-<br> ANDROGENIC</td>
              <td>MICRONIZED</td>
              <td>EU DMF<br> US DMF</td>
            </tr>
            <tr>
              <td>MOMETASONE <br> FUROATE<br> 83919-23-7</td>
              <td>RESPIRATORY-<br> DERMATOLOGIC</td>
              <td>MICRONIZED</td>
              <td>EU DMF<br> US DMF<br>CEP</td>
            </tr>
            <tr>
              <td>OSATERONE <br> ACETATE <br> 105149-04-0</td>
              <td>ANTI-ANDROGEN<br> (VETERINARY)</td>
              <td>MICRONIZED</td>
              <td>EU DMF</td>
            </tr>
            <tr>
              <td>PARAMETHASONE <br> ACETATE<br> 1597-82-6</td>
              <td>&nbsp;<br>DERMATOLOGIC</td>
              <td>&nbsp;<br> MICRONIZED</td>
              <td>&nbsp;<br> EU DMF</td>
            </tr>
            <tr>
              <td>PREDNISOLONE <br> ACETATE<br> 52-21-1</td>
              <td>DERMATOLOGIC</td>
              <td>STANDARD<br> MICRONISED</td>
              <td>EU DMF<br> CEP*</td>
            </tr>
            <tr>
              <td>PREDNISOLONE <br> VALERATE<br> ACETATE<br> 72064-79-0</td>
              <td>&nbsp;<br>DERMATOLOGIC</td>
              <td>&nbsp;<br> MICRONIZED</td>
              <td>EU DMF <br> J DMF</td>
            </tr>
            <tr>
              <td>TRIAMCINOLONE<br> 124-94-7</td>
              <td>DERMATOLOGIC<br>OPHTHALMIC</td>
              <td>STANDARD MICRONIZED</td>
              <td>EU DMF</td>
            </tr>
            <tr>
              <td>TRIAMCINOLONE <br> ACETONIDE <br> 76-25-5</td>
              <td>DERMATOLOGIC<br>OPHTHALMIC</td>
              <td>MICRONIZED</td>
              <td>EU DMF<br> US DMF<br> CEP</td>
            </tr>
            <tr>
              <td>TRIAMCINOLONE <br> DIACETATE<br> 67-78-7</td>
              <td>DERMATOLOGIC<br>OPHTHALMIC</td>
              <td>MICRONIZED</td>
              <td>EU DMF<br> US DMF</td>
            </tr>
            <tr>
              <td>TRIAMCINOLONE<br> HEXACETONIDE<br>5611-51-8</td>
              <td>DERMATOLOGIC<br>OPHTHALMIC</td>
              <td>STANDARD<br> MICRONIZED</td>
              <td>EU DMF<br> US DMF<br>CEP</td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  </section>
  
  <section id="sterile-steroids-details" class="portfolio product-list product-section">
    <div class="container">
  
      <div class="section-title content" data-aos="fade-left">
        <a href="#pharma-details"><p><i class="icofont-rounded-left"></i> Back to Pharma</p></a>
        <h2>Sterile Steroids</h2>
        <table class="table table-striped">
          <thead>
            <tr class="product-tr">
              <th scope="col">Active Ingredient <br>CAS Number</th>
              <th scope="col">Therapeutic Areas</th>
              <th scope="col">Available Grades</th>
              <th scope="col">Regulatory Documentation</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>BECLOMETHASONE <br> DIPROPIONATE<br> 5534-09-8</td>
              <td>RESPIRATORY</td>
              <td>MICRONIZED</td>
              <td>EU DMF</td>
            </tr>
            <tr>
              <td>BUDESONIDE<br> 51333-22-3</td>
              <td>RESPIRATORY</td>
              <td>MICRONIZED</td>
              <td>EU DMF<br> US DMF</td>
            </tr>
            <tr>
              <td>HYDROCORTISONE <br> ACETATE <br> 50-03-3</td>
              <td>OPHTHALMIC</td>
              <td>MICRONIZED</td>
              <td>EU DMF<br> CEP*</td>
            </tr>
            <tr>
              <td>LOTEPREDNOL <br> ETABONATE <br> 82034-46-6</td>
              <td>OPHTHALMIC</td>
              <td>MICRONIZED</td>
              <td>EU DMF<br> US DMF</td>
            </tr>
            <tr>
              <td>MEDROXYPROGESTERONE <br> ACETATE (WHO pre-approved)<br> 71-58-9</td>
              <td>CONTRACEPTIVE</td>
              <td>MICRONIZED</td>
              <td>EU DMF#<br> US DMF#</td>
            </tr>
            <tr>
              <td>METHYLPREDNISOLONE <br> ACETATE<br> 53-36-1</td>
              <td>INJECTABLE <br> ANTI-INFLAMMATORY</td>
              <td>MICRONIZED</td>
              <td>EU DMF<br> US DMF</td>
            </tr>
            <tr>
              <td>PREDNISOLONE <br> ACETATE<br> 52-21-1</td>
              <td>OPHTHALMIC<br> INJECTABLE <br> ANTI-INFLAMMATORY</td>
              <td>MICRONIZED</td>
              <td>EU DMF<br> US DMF<br> CEP</td>
            </tr>
            <tr>
              <td>PREDNISOLONE <br> BASE <br> 50-24-8</td>
              <td>ANTI-INFLAMMATORY<br> (VETERINARY)</td>
              <td>MICRONIZED</td>
              <td>EU DMF</td>
            </tr>
            <tr>
              <td>TRIAMCINOLONE<br> ACETONIDE<br> 76-25-5</td>
              <td>INJECTABLE <br> ANTI-INFLAMMATORY</td>
              <td>MICRONIZED</td>
              <td>EU DMF# <br>US DMF <br>J DMF<br> CEP*</td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  </section>
  
  <section id="high-potent-substances-details" class="portfolio product-list product-section">
    <div class="container">
  
      <div class="section-title content" data-aos="fade-left">
        <a href="#pharma-details"><p><i class="icofont-rounded-left"></i> Back to Pharma</p></a>
        <h2>High Potent Substances</h2>
        <table class="table table-striped">
          <thead>
            <tr class="product-tr">
              <th scope="col">Active Ingredient <br>CAS Number</th>
              <th scope="col">Therapeutic Areas</th>
              <th scope="col">Available Grades</th>
              <th scope="col">Regulatory Documentation</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>CANNABIDIOL<br> (CBD, synthetic)<br> 13956-29-1</td>
              <td>VARIOUS</td>
              <td>STANDARD</td>
              <td>EU DMF<br> US DMF</td>
            </tr>
            <tr>
              <td>FORMOTEROL <br> FUMARATE <br> DIHYDRATE<br> 183814-30-4</td>
              <td>RESPIRATORY</td>
              <td>MICRONIZED</td>
              <td>EU DMF<br> US DMF<br> CEP</td>
            </tr>
            <tr>
              <td>ISOPROTERENOL</td>
              <td>CARDIOVASCULAR</td>
              <td>STANDARD</td>
              <td>N.A.</td>
            </tr>
            <tr>
              <td>MIVACURIUM <br> CHLORIDE<br> 106861-44-3</td>
              <td>ANESTHETIC</td>
              <td>STANDARD</td>
              <td>EU DMF<br> US DMF</td>
            </tr>
            <tr>
              <td>TIROFIBAN <br> HYDROCHLORIDE<br> MONOHYDRATE<br> 150915-40-5</td>
              <td>CARDIOVASCULAR</td>
              <td>STANDARD</td>
              <td>EU DMF<br> US DMF</td>
            </tr>
            <tr>
              <td>SALMETEROL<br> XINAFOATE<br> 94749-08-3</td>
              <td>RESPIRATORY</td>
              <td>MICRONIZED</td>
              <td>EU DMF<br> US DMF<br> CEP*</td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  </section>
  
  <section id="anti-neoplastics-details" class="portfolio product-list product-section">
    <div class="container">
  
      <div class="section-title content" data-aos="fade-left">
        <a href="#pharma-details"><p><i class="icofont-rounded-left"></i> Back to Pharma</p></a>
        <h2>Anti-Neoplastics</h2>
        <table class="table table-striped">
          <thead>
            <tr class="product-tr">
              <th scope="col">Active Ingredient <br>CAS Number</th>
              <th scope="col">Therapeutic Areas</th>
              <th scope="col">Available Grades</th>
              <th scope="col">Regulatory Documentation</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>BUSULFAN <br>55-98-1</td>
              <td>ANTI-CANCER</td>
              <td>STANDARD</td>
              <td>EU DMF <br>US DMF <br>CEP*</td>
            </tr>
            <tr>
              <td>MELPHALAN HCL <br>3223-07-2</td>
              <td>ANTI-CANCER</td>
              <td>STANDARD</td>
              <td>EU DMF <br>US DMF</td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  </section>
  
  <section id="products-for-five-solutions-details" class="portfolio product-list product-section">
    <div class="container">
  
      <div class="section-title content" data-aos="fade-left">
        <a href="#pharma-details"><p><i class="icofont-rounded-left"></i> Back to Pharma</p></a>
        <h2>Products for IV solutions, Personal Care, Home Care and Vitamins</h2>
        <table class="table table-striped">
          <thead>
            <tr class="product-tr">
              <th scope="col">Active Ingredient</th>
              <th scope="col">Specification</th>
              <th scope="col">Available Grades</th>
              <th scope="col">Regulatory Documentation</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>LACTIC ACID</td>
              <td>PHARMA GRADE</td>
              <td>USP,JP,EP</td>
              <td>COS Grade</td>
            </tr>
            <tr>
              <td>SODIUM LACTATE</td>
              <td>PHARMA GRADE 50%</td>
              <td>USP,EP,JP</td>
              <td>COS Grade</td>
            </tr>
            <tr>
              <td>SODIUM LACTATE</td>
              <td>PHARMA GRADE 60%</td>
              <td>USP,EP,JP</td>
              <td>COS Grade</td>
            </tr>
            <tr>
              <td>CALCIUM LACTATE</td>
              <td>PHARMA GRADE</td>
              <td>USP,EP</td>
              <td>COS Grade</td>
            </tr>
            <tr>
              <td>CALCIUM LACTATE</td>
              <td>For Direct Compressible use</td>
              <td>USP,EP</td>
              <td>COS Grade</td>
            </tr>
            <tr>
              <td>CALCIUM LACTATE</td>
              <td>GLUCONATE PHARMA GRADE</td>
              <td>USP,EP</td>
              <td>COS Grade</td>
            </tr>
            <tr>
              <td>CALCIUM GLUCONATE</td>
              <td>MONOHYDRATE (INJECTABLE)</td>
              <td>USP,EP</td>
              <td>COS Grade</td>
            </tr>
            <tr>
              <td>CALCIUM GLUCONATE</td>
              <td>MONOHYDRATE (ORAL)</td>
              <td>USP,EP</td>
              <td>COS Grade</td>
            </tr>
            <tr>
              <td>CALCIUM</td>
              <td>D-SACCHARATE</td>
              <td>USP</td>
              <td>CEP</td>
            </tr>
            <tr>
              <td>FERROUS GLUCONATE</td>
              <td>PHARMA GRADE</td>
              <td>USP,EP</td>
              <td>CEP</td>
            </tr>
            <tr>
              <td>MAGNESIUM GLUCONATE</td>
              <td></td>
              <td>USP</td>
              <td>CEP</td>
            </tr>
            <tr>
              <td>POTASSIUM GLUCONATE</td>
              <td></td>
              <td>USP</td>
              <td>CEP</td>
            </tr>
            <tr>
              <td>ZINC GLUCONATE</td>
              <td></td>
              <td>USP</td>
              <td>CEP</td>
            </tr>
            <tr>
              <td>MAGNESIUM LACTATE</td>
              <td></td>
              <td>EP</td>
              <td>CEP</td>
            </tr>
            <tr>
              <td>ZINC LACTATE</td>
              <td></td>
              <td>USP,EP</td>
              <td>COS Grade</td>
            </tr>
            <tr>
              <td>Magnesium Chloride</td>
              <td></td>
              <td>IP, BP, USP</td>
              <td></td>
            </tr>
            <tr>
              <td>Sodium Bicarbonate</td>
              <td></td>
              <td>IP, USP</td>
              <td></td>
            </tr>
            <tr>
              <td>Calcium Chloride Dihydrate</td>
              <td></td>
              <td>BP, EP</td>
              <td></td>
            </tr>
            <tr>
              <td>Anhydrous Citric Acid</td>
              <td></td>
              <td>BP, EP</td>
              <td></td>
            </tr>
            <tr>
              <td>Citric Acid Monohydrate</td>
              <td></td>
              <td>BP</td>
              <td></td>
            </tr>
            <tr>
              <td>Potassium Chloride</td>
              <td></td>
              <td>BP (P), EP, USP</td>
              <td></td>
            </tr>
            <tr>
              <td>Sodium Acetate Trihydrate</td>
              <td></td>
              <td>BP</td>
              <td></td>
            </tr>
            <tr>
              <td>Anhyrous Sodium Sulphate</td>
              <td></td>
              <td>BP (Parental)</td>
              <td></td>
            </tr>
            <tr>
              <td>Calcium Chloride</td>
              <td></td>
              <td>USP</td>
              <td></td>
            </tr>          	           
            <tr>
              <td>Citric Acid Monohydrate</td>
              <td></td>
              <td>EP</td>
              <td></td>
            </tr>          	           
            <tr>
              <td>Magnesium Chloride Hexahydrate</td>
              <td></td>
              <td>EP</td>
              <td></td>
            </tr>          	           
            <tr>
              <td>Sodium Chloride</td>
              <td></td>
              <td>IP, BP, USP</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  </section>
  
  <section id="oncology-details" class="portfolio product-list product-section">
    <div class="container">
  
      <div class="section-title content" data-aos="fade-left">
        <a href="#pharma-details"><p><i class="icofont-rounded-left"></i> Back to Pharma</p></a>
        <h2>Oncology</h2>
        <table class="table table-striped">
          <thead>
            <tr class="product-tr">
              <th scope="col">Active Ingredient <br>CAS Number</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ALOGLIPTIN <br>BENZOATE <br>850649-62-6</td>
            </tr>
            <tr>
              <td>TRELAGLIPTIN <br>SUCCINATE <br>1029877-94-8</td>
            </tr>
            <tr>
              <td>LINAGLIPTIN <br>668270-12-0</td>
            </tr>
            <tr>
              <td>VALSARTAN+ <br>SACUBITRIL <br>936623-90-4</td>
            </tr>
            <tr>
              <td>TENOFOVIR <br>ALAFENAMIDE <br>FUMARATE <br>1392275-56-7</td>
            </tr>
            <tr>
              <td>TOFACITINIB <br>477600-75-2</td>
            </tr>
            <tr>
              <td>BARICITINIB <br>1187594-09-7</td>
            </tr>
            <tr>
              <td>IBRUTINIB (INN) <br>936563-96-1</td>
            </tr>
            <tr>
              <td>OSIMERTINIB (INN) <br>1421373-65-0</td>
            </tr>
            <tr>
              <td>CRIZOTINIB (INN) <br>877399-52-5</td>
            </tr>
            <tr>
              <td>RUCAPARIB (INN) <br>283173-50-2</td>
            </tr>
            <tr>
              <td>NIRAPARIB (INN) <br>1038915-60-4</td>
            </tr>
            <tr>
              <td>Abiraterone <br>Acetate <br>154229-18</td>
            </tr>
            <tr>
              <td>Azacitidine <br>320-67-2</td>
            </tr>
            <tr>
              <td>Bortezomib <br>179324-69-7</td>
            </tr>
            <tr>
              <td>Capecitabine <br>154361-50-9</td>
            </tr>
            <tr>
              <td>Carboplatin <br>41575-94-4</td>
            </tr>
            <tr>
              <td>Cisplatin <br>15663-27-1</td>
            </tr>
            <tr>
              <td>Docetaxel <br>Anhydrous <br>114977-28-5</td>
            </tr>
            <tr>
              <td>Docetaxel <br>Trihydrate <br>148408-66-6</td>
            </tr>
            <tr>
              <td>Erlotinib <br>Hydrochloride <br>183319-69-9</td>
            </tr>
            <tr>
              <td>Exemestane <br>107868-30-4</td>
            </tr>
            <tr>
              <td>Gefitinib <br>184475-35-2</td>
            </tr>
            <tr>
              <td>Gemcitabine <br>Hydrochloride <br>95058-81-4</td>
            </tr>
            <tr>
              <td>Hydroxyurea <br>127-07-1</td>
            </tr>
            <tr>
              <td>Imatinib <br>Mesylate <br>220127-57-1</td>
            </tr>
            <tr>
              <td>Irinotecan <br>Hydrochloride <br>100286-90-6</td>
            </tr>
            <tr>
              <td>Oxaliplatin <br>61825-94-3</td>
            </tr>
            <tr>
              <td>Pemetrexed <br>Disodium <br>150399-23-8</td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  </section>
  
  <section id="veterinary-details" class="portfolio product-list product-section">
    <div class="container">
  
      <div class="section-title content" data-aos="fade-left">
        <a href="#pharma-details"><p><i class="icofont-rounded-left"></i> Back to Pharma</p></a>
        <h2>Veterinary</h2>
        <table class="table table-striped">
          <thead>
            <tr class="product-tr">
              <th scope="col">Active Ingredient <br>CAS Number</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Oxytetracycline Hydrochloride</td>
            </tr>
            <tr>
              <td>Oxytetracycline Hydrochloride <br>(Injectable)</td>
            </tr>
            <tr>
              <td>Oxytetracycline Hydrochloride <br>(Sterile)</td>
            </tr>
            <tr>
              <td>Neomycin Sulphate</td>
            </tr>
            <tr>
              <td>Doxycycline Hydrochloride</td>
            </tr>
            <tr>
              <td>Doxycycline Hydrochloride <br>(Injectable)</td>
            </tr>
            <tr>
              <td>Apramycin sulfate</td>
            </tr>
            <tr>
              <td>Avermectin</td>
            </tr>
            <tr>
              <td>Kanamycin monosulfate</td>
            </tr>
            <tr>
              <td>Monensin pure <br>product</td>
            </tr>
            <tr>
              <td>Monensin premix <br>(powder, granules)</td>
            </tr>
            <tr>
              <td>Salinomycin premix <br>(powder, granules)</td>
            </tr>
            <tr>
              <td>Flavomycin premix <br>(powder, granules)</td>
            </tr>
            <tr>
              <td>Enramycin premix <br>(powder, granules)</td>
            </tr>
            <tr>
              <td>Diclazuril premix <br>(powder, granules)</td>
            </tr>
            <tr>
              <td>Macrotoxin</td>
            </tr>
            <tr>
              <td>Neotoxin sulfate</td>
            </tr>
            <tr>
              <td>Compound Madumicin <br>Ammonia Premix</td>
            </tr>
            <tr>
              <td>Premixes of madimicin <br>ammonium (powder, <br>granules)</td>
            </tr>
            <tr>
              <td>Madimicin ammonium</td>
            </tr>
            <tr>
              <td>Kanatoxin B</td>
            </tr>
            <tr>
              <td>Kanatoxin monosulfate</td>
            </tr>
            <tr>
              <td>Nosiheptide premix <br>(powder, granules)</td>
            </tr>
            <tr>
              <td>Ivermectin</td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  </section>
  
  <section id="sealing-solutions-packaging-details" class="portfolio product-list product-section">
    <div class="container">
  
      <div class="section-title content" data-aos="fade-left">
        <a href="#pharma-details"><p><i class="icofont-rounded-left"></i> Back to Pharma</p></a>
        <h2>Sealing Solutions/Packaging</h2>
        <div class="row">
          <div class="col-md-12">
            <div>
              <img src="../assets/img/portfolio/sealing-solutions-packaging.jpg" alt="Sealing Solutions Packaging" width="100%">
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </section>
  
  <section id="others-details" class="portfolio product-list product-section">
    <div class="container">
  
      <div class="section-title content" data-aos="fade-left">
        <a href="#pharma-details"><p><i class="icofont-rounded-left"></i> Back to Pharma</p></a>
        <h2>Others</h2>
        <table class="table table-striped">
          <thead>
            <tr class="product-tr">
              <th scope="col">Active Ingredient <br>CAS Number</th>
              <th scope="col">Therapeutic Areas</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Clopidogrel Bisulphate <br>113665-84-2</td>
              <td>Anti Platelet</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Fenofibrate <br>49562-28-9</td>
              <td>Anti cholesterol</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Lamotrigine <br>84057-84-1</td>
              <td>Aanticonvulsant</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Metformin Hydrochloride <br>1115-70-4</td>
              <td>Anti Diabetic</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Chlortetracycline HCl <br>64-72-2</td>
              <td>Anti Bacterial</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Tetracycline HCl <br>64-75-5</td>
              <td>Anti Bacterial</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Gentamicin Sulphate <br>1405-41-0</td>
              <td>Anti Bacterial</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Amikacin Sulphate <br>Non-Sterile USP <br>39831-55-5</td>
              <td>Aminoglycoside Antibiotic</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Cefamandole Nafate <br>27164-46-1</td>
              <td>Anti-Infectives</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Cefazolin Sodium <br>27164-46-1</td>
              <td>Anti-Infectives</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Cefepime <br>123171-59-5</td>
              <td>Anti-Infectives</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Cefepime with L-Arginine <br>123171-59-5</td>
              <td>Anti-Infectives</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Cefminox Sodium <br>75498-96-3</td>
              <td>Anti-Infectives</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Cefoperazone Sodium <br>62893-20-3</td>
              <td>Anti-Infectives</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Cefoperazone Sodium <br>and Sulbactam Sodium <br>62893-20-3</td>
              <td>Anti-Infectives</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Cefotaxime Sodium <br>64485-93-4</td>
              <td>Anti-Infectives</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Cefotiam Hydrochloride <br>66309-69-1</td>
              <td>Anti-Infectives</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Cefpirome Sulfate with <br>Sodium Carbonate <br>98753-19-6</td>
              <td>Anti-Infectives</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Ceftazidime with L-Arginine <br>73547-61-2</td>
              <td>Anti-Infectives</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Ceftazidime with <br>Sodium Carbonate <br>73547-61-2</td>
              <td>Anti-Infectives</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Ceftezole Sodium <br>26973-24-0</td>
              <td>Anti-Infectives</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Ceftizoxime Sodium <br>68401-82-1</td>
              <td>Anti-Infectives</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Ceftriaxone Sodium <br>104376-79-6</td>
              <td>Anti-Infectives</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Cefuroxime Sodium <br>56238-63-2</td>
              <td>Anti-Infectives</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Cefadroxil <br>42284-83-3</td>
              <td>Anti-Infectives <br>Cephalosporins Oral</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Cefdinir <br>213978-34-8</td>
              <td>Anti-Infectives <br>Cephalosporins Oral</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Cefditoren Pivoxil <br>117467-28-4</td>
              <td>Anti-Infectives <br>Cephalosporins Oral</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Cefixime <br>125110-14-7</td>
              <td>Anti-Infectives <br>Cephalosporins Oral</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Cefpodoxime Proxetil <br>82619-04-3</td>
              <td>Anti-Infectives <br>Cephalosporins Oral</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Cefprozil <br>121123-17-9</td>
              <td>Anti-Infectives <br>Cephalosporins Oral</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Cefteram Pivoxil <br>82547-81-7</td>
              <td>Anti-Infectives <br>Cephalosporins Oral</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Doripenem Monohydrate <br>364622-82-2</td>
              <td>Anti-Infectives <br>Carbapenems</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Ertapenem Sodium <br>non-sterile <br>153773-82-1</td>
              <td>Anti-Infectives <br>Carbapenems</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Meropenem Crude <br>119478-56-7</td>
              <td>Anti-Infectives <br>Carbapenems</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Meropenem Trihydrate <br>119478-56-7</td>
              <td>Anti-Infectives <br>Carbapenems</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Meropenem with <br>Sodium Carbonate <br>96036-03-2</td>
              <td>Anti-Infectives <br>Carbapenems</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Amikacin Sulfate <br>39831-55-5</td>
              <td>Anti-Infectives</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Linezolid <br>165800-03-3</td>
              <td>Anti-Infectives</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Piperacillin Acid</td>
              <td>Anti-Infectives</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Piperacillin Sodium <br>59703-84-3</td>
              <td>Anti-Infectives</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Piperacillin Sodium<br>and Tazobactam Sodium</td>
              <td>Anti-Infectives</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Tazobactam Acid</td>
              <td>Anti-Infectives</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Tazobactam Sodium <br>89785-84-2</td>
              <td>Anti-Infectives</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Terbinafine Hydrochloride <br>78628-80-5</td>
              <td>Anti-Infectives</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>AMMONIATED MERCURY <br>CHLORIDE<br>10124-48-8</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>MERCURIC ACETATE<br>1600-27-7</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>MERCURIC NITRATE<br>7783-34-8</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>MERCURIC OXIDE RED <br>21908-53-2</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>MERCURIC SULFIDE RED <br>1344-48-5</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>MERCURIC THIOCYNATE<br>592-85-8</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>PHENYL MERCURIC ACETATE <br>62-38-4</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>PHENYL MERCURIC NITRATE <br>55-68-5</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  </section>
