<!-- ======= Products Section ======= -->
<section id="products" class="portfolio">
    <div class="container">

        <div class="section-title" data-aos="fade-left">
            <h2>Products</h2>
            <p>With over 400 products in our portfolio, our suppliers are reputed multinational manufacturers. 
                Our product list for Active Pharmaceutical Ingredients (APIs) with CEP/USDMF/JDMF/EUMF and 
                for new APIs can be found here. This is only an excerpt. Please get in touch if you would 
                like to enquire about an API that is not on this list.</p>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="/assets/img/portfolio/pharma.jpg" class="img-fluid" alt="Pharma">
                    <a href="/pharma/#pharma-details" title="More Details">
                        <div class="portfolio-info p-0">
                            <div class="product-title">
                                <h4 class="mb-0">PHARMA</h4>
                                <p>Caring for our customers: Quality at speed…</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="/assets/img/portfolio/pulp.jpg" class="img-fluid" alt="Pulp">
                    <a href="/product/#pulp-details" title="More Details">
                        <div class="portfolio-info p-0">
                            <div class="product-title">
                                <h4>PULP</h4>
                                <p>Our options offer the most</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="/assets/img/portfolio/minerals.jpg" class="img-fluid" alt="Minerals">
                    <a href="/product/#minerals-details" title="More Details">
                        <div class="portfolio-info p-0">
                            <div class="product-title">
                                <h4>MINERALS</h4>
                                <p>Ready to provide our products to you</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="/assets/img/portfolio/chemicals.jpg" class="img-fluid" alt="Chemicals">
                    <a href="/chemicals/#chemicals-details" title="More Details">
                        <div class="portfolio-info p-0">
                            <div class="product-title">
                                <h4>CHEMICALS</h4>
                                <p>We operate globally…</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="/assets/img/portfolio/scrap-metal.jpg" class="img-fluid" alt="Metal Scrap">
                    <a href="/product/#metal-scrap-details" title="More Details">
                        <div class="portfolio-info p-0">
                            <div class="product-title">
                                <h4>METAL SCRAP</h4>
                                <p>Heavy volumes and activity</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="/assets/img/portfolio/food-flavor.jpg" class="img-fluid" alt="Food & Flavors">
                    <a href="/product/#food-flavors-details" title="More Details">
                        <div class="portfolio-info p-0">
                            <div class="product-title">
                                <h4>FOOD & FLAVORS</h4>
                                <p>We get recipes for your success…</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Products Section -->
