<!-- ======= Products Section ======= -->
<section id="pulp-details" class="portfolio product-section">
    <div class="container">

        <div class="section-title content" data-aos="fade-left">
            <a href="/#products">
                <p><i class="icofont-rounded-left"></i> Back to Products</p>
            </a>
            <h2>Pulp</h2>
            <img src="../assets/img/pulp-bg.jpg" alt="Pulp" class="img-fluid mb-3">
            <h5><strong>Our Options Offer The Most</strong></h5>
            <p class="paragraph">Our focus is on delivering the best possible pulp. Whether you produce Tissue paper, milk packaging,
                specialty
                paper or toilet paper, we help you find the optimal mass based on your needs and challenges. </p>
            <p class="paragraph mt-2">Our pulp partners produce many different varieties of masses. In fact, we believe we offer
                more options than any
                other competing pulp supplier. Our extensive product portfolio means that we can meet all requests from
                tissue
                paper to packaging and graphic paper. Our main qualities are <strong>NBSK, NBHK, BCTMP, BEKP, Fluff
                    Pulp</strong> and <strong>Dissolving Pulp</strong>.</p>
            <p class="paragraph mt-2"><strong>Facilitating business opportunities:</strong> Our partner’s sound reputation among
                banks, credit
                institutions and industrial development agencies all over the world creates a solid base for activities
                in all our pulp business areas. The well-developed network of contacts in the global banking system
                results
                in faster cash flow and more business opportunities for our suppliers and customers. The credit ratings
                are
                absolutely outstanding.</p>
            <p class="paragraph mt-2"><strong>Trade Finance and Risk management:</strong> Our pulp division partner conducts trade
                in more than 100
                countries worldwide and their risk management experts have long experience from handling and minimizing
                credit
                and commercial risks as well as political ones.</p>
            <p class="paragraph mt-2">One example is our vast experience from emerging markets, where long credit periods for
                customers are an essential
                competitive tool, while payment terms to suppliers are often short. Over the years, we have developed
                well successful
                solutions to these conflicting demands. E.g. LC 90/180 days, UPAS LC accepted here...</p>
            <p class="paragraph mt-2">Let us know your Pulp requirements.</p>
        </div>

    </div>
</section>

<section id="minerals-details" class="portfolio product-section">
    <div class="container">

        <div class="section-title content" data-aos="fade-left">
            <a href="/#products">
                <p><i class="icofont-rounded-left"></i> Back to Products</p>
            </a>
            <h2>Minerals</h2>
            <img src="../assets/img/minerals-bg.jpg" alt="minerals" class="img-fluid mb-3">
            <h5><strong>Ready To Provide Our Products To You</strong></h5>
            <p class="paragraph">Our entry in Bangladesh market with Calcium Carbonate was hugely successful in late 90s’. We were able to
                penetrate
                the market and win over customers' confidence with our consistent quality from both Thailand and
                Vietnam. Our
                manufacturer combines their extensive experience and knowledge in the paint and plastic industry with
                its expertise
                in calcium carbonate manufacturing to produce Ground Calcium(coated & uncoated), Calcium Masterbatch and
                White
                Titanium Masterbatch for flexible packaging. We are very attentive to our individual customer needs and
                will tailor
                the products to meet the requirement both in terms of specification and packaging. In other words, We
                Are Flexible For You.</p>
            <p class="paragraph mt-2">Our product list is non toxic and poses no harmful effect to the environment.
                Environmentally concerned multinational
                companies operating in South East Asia and South Asia have been using these products which ascertain
                that these are
                among the highest quality products available on the market.</p>
            <p class="paragraph mt-2">We have practically audited the factories and assure you machineries and equipments are from
                Germany and they maintain
                German standards for dust control.</p>
            <ul class="mt-2">
                <li><i class="ri-check-double-line"></i> Coated Calcium Carbonate</li>
                <li><i class="ri-check-double-line"></i> Uncoated Calcium Carbonate</li>
                <li><i class="ri-check-double-line"></i> Calcium Masterbatch/Filler Masterbatch</li>
                <li><i class="ri-check-double-line"></i> White Titanium Dioxide Masterbatch</li>
                <li><i class="ri-check-double-line"></i> Polyethylene Wax</li>
                <li><i class="ri-check-double-line"></i> Dolomite</li>
            </ul>
        </div>

    </div>
</section>

<section id="metal-scrap-details" class="portfolio product-section">
    <div class="container">

        <div class="section-title content" data-aos="fade-left">
            <a href="/#products">
                <p><i class="icofont-rounded-left"></i> Back to Products</p>
            </a>
            <h2>Metal Scrap</h2>
            <p><strong>ORIGIN:</strong> USA, South America, AUSTRALIA, EUROPE, ASIA. <br>
                <strong>QUANTITY:</strong> 1000MT Ready to ship to Bangladesh. Same quantity can be delivered per week.
                <br>
                <strong>PACKAGING:</strong> 40ft or 20ft loose. Just we need you to say us your favorable target price.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row chemical-items">


            <div class="col-lg-3 col-md-6 portfolio-item">
                <h6 class="text-center"><strong>HMS1&2</strong></h6>
                <div class="portfolio-wrap">
                    <img src="../assets/img/portfolio/metal/HMS1.jpg" alt="HMS1&2" class="img-fluid">
                </div>
            </div>

            <div class="col-lg-3 col-md-6 portfolio-item">
                <h6 class="text-center"><strong>Shredded Scrap</strong></h6>
                <div class="portfolio-wrap">
                    <img src="../assets/img/portfolio/metal/Shredded-Scrap.jpg" alt="Shredded Scrap" class="img-fluid">
                </div>
            </div>

            <div class="col-lg-3 col-md-6 portfolio-item">
                <h6 class="text-center"><strong>Cast Iron</strong></h6>
                <div class="portfolio-wrap">
                    <img src="../assets/img/portfolio/metal/Cast-Iron.jpg" alt="Cast Iron" class="img-fluid">
                </div>
            </div>

            <div class="col-lg-3 col-md-6 portfolio-item">
                <h6 class="text-center"><strong>PNS</strong></h6>
                <div class="portfolio-wrap">
                    <img src="../assets/img/portfolio/metal/PNS.jpeg" alt="PNS" class="img-fluid">
                </div>
            </div>

            <div class="col-lg-3 col-md-6 portfolio-item">
                <h6 class="text-center"><strong>LMS</strong></h6>
                <div class="portfolio-wrap">
                    <img src="../assets/img/portfolio/metal/LMS.jpg" alt="LMS" class="img-fluid">
                </div>
            </div>

            <div class="col-lg-3 col-md-6 portfolio-item">
                <h6 class="text-center"><strong>Bushling</strong></h6>
                <div class="portfolio-wrap">
                    <img src="../assets/img/portfolio/metal/Bushling.jpg" alt="Bushling" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-3 col-md-6 portfolio-item">
                <h6 class="text-center"><strong>Turnings & Borrings</strong></h6>
                <div class="portfolio-wrap">
                    <img src="../assets/img/portfolio/metal/Turnings-Borrings.jpg" alt="Turnings Borrings" class="img-fluid">
                </div>
            </div>



        </div>
    </div>

</section>

<section id="food-flavors-details" class="portfolio product-section">
    <div class="container">

        <div class="section-title content" data-aos="fade-left">
            <a href="/#products">
                <p><i class="icofont-rounded-left"></i> Back to Products</p>
            </a>
            <h2>Food & Flavors</h2>
            <h5><strong>We Get Recipes For Your Success… Here Is Our Story To That</strong></h5>

            <div class="row">
                <div class="col-md-12 d-flex align-items-stretch mb-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="text-uppercase">Beverage</h4>
                            </div>
                            <div class="col-md-4">
                                <img src="../assets/img/portfolio/food/beverage.png" alt="Beverage" class="img-fluid">
                            </div>
                            <div class="col-md-8">
                                <p class="paragraph">Do you manufacture something called Beverage? We have the perfect recipes from
                                    European region for making your drinks refreshing, thirst-quenching delicious that
                                    stays fresh long enough to be thoroughly enjoyed. Our lactic acid (food grade) can
                                    make your drinks with specific better taste and longer shelf life you want them to
                                    have. Using our European brand of potassium lactate lets you add natural
                                    electrolytes as well without adding an overly salty flavor.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12 d-flex align-items-stretch mb-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="text-uppercase">Bakery</h4>
                            </div>
                            <div class="col-md-8">
                                <p class="paragraph">If you are really worried with your Bakery, using a European emulsifier can help you maintain
                                    consistency essential for high-speed, automated baking systems. Sometimes enzymes extend your
                                    baked food’s shelf life through the entire distribution process and we get that to your
                                    warehouse just like that.</p>
                            </div>
                            <div class="col-md-4">
                                <img src="../assets/img/portfolio/food/bakery.png" alt="Bakery" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12 d-flex align-items-stretch mb-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="text-uppercase">Dairy</h4>
                            </div>
                            <div class="col-md-4">
                                <img src="../assets/img/portfolio/food/dairy.png" alt="Dairy" class="img-fluid">
                            </div>
                            <div class="col-md-8">
                                <p class="paragraph">One of our new customers started making processed cheese, butter, yoghurt, sour cream and
                                    desserts with acidified milk drinks. Their success was rather delayed before we punched in our
                                    Lactic acid achieving the desired flavor profile, viscosity, mouthfeel, and protein stability.
                                    Compared to other organic acids, the natural match in flavor profile between lactic acid and
                                    dairy is evident.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12 d-flex align-items-stretch mb-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="text-uppercase">Meat Processing</h4>
                            </div>
                            <div class="col-md-8">
                                <p class="paragraph">Preservation is just a key point for solutions to your meat processing and preservation company.
                                    For safety solutions we enable you to combat harmful microbes, extend shelf life and reduce
                                    sodium. Sodium or potassium lactate blends have been the industry standard for Listeria control
                                    and shelf life extension for years in meats. We have a balanced preservation system with all the
                                    other facets of product quality that help make your product a marketplace winner. Ask us HOW?</p>
                            </div>
                            <div class="col-md-4">
                                <img src="../assets/img/portfolio/food/meat.png" alt="Meat" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12 d-flex align-items-stretch mb-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="paragraph text-center">We work hard to understand a customer’s needs to find the right solution for
                                    their application. We're proud to have the food industry in Bangladesh through the passion of
                                    our people, the creative application of technology and an ongoing commitment to our customers’
                                    success. Our principal manufacturer constantly strives to remain at the forefront of technology
                                    in order to provide new solutions for your un-met needs.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Products Section -->
