<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
        <div class="header-container d-flex align-items-center">
            <div class="logo mr-auto">
                <h1 class="text-light"><a href="/">
                    <img src="../assets/img/logo.png" alt="Top Rank" />
                </a></h1>
            </div>
            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/#about">About</a></li>
                    <li><a href="/#services">Services</a></li>
                    <li class="drop-down"><a href="/#products">Products</a>
                        <ul>
                            <li><a href="/pharma/#pharma-details">Pharma</a></li>
                            <li><a href="#pulp-details">Pulp</a></li>
                            <li><a href="#minerals-details">Minerals</a></li>
                            <li><a href="/chemicals/#chemicals-details">Chemicals</a></li>
                            <li><a href="#metal-scrap-details">Metal Scrap</a></li>
                            <li><a href="#food-flavors-details">Food & Flavors</a></li>
                        </ul>
                    </li>
                    <li><a href="/#contact">Contact</a></li>
                </ul>
            </nav><!-- .nav-menu -->
        </div><!-- End Header Container -->
    </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero-details" class="d-flex align-items-center">
    <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
        <h1>The Science of Agency</h1>
        <a href="https://api.whatsapp.com/send?phone=+8801747115156" class="btn-get-started scrollto">GET YOUR PRICE QUOTE</a>
    </div>
</section>
<!-- End Hero -->
