<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-right">
                <div class="content">
                    <h3>Why Choose Us?</h3>
                    <p>
                        We have helped scores of manufacturers improve their front lines across a variety 
                        of industries, from the pharmaceutical sector to the paints, plastics and the paper 
                        sector.
                    </p>
                    <div class="text-center">
                        <a href="/details#why-us-details" class="more-btn">READ MORE <i class="bx bx-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 d-flex align-items-stretch">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-receipt"></i>
                                <h5>Project Management</h5>
                                <p>Our extensive experience managing all types of complex projects ...</p>
                                <a href="/details#why-us-details" class="read-btn">Read More</a>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-cube-alt"></i>
                                <h5>Customer’s Needs</h5>
                                <p>We are agile and ready to align based on product specificity, so our ...</p>
                                <a href="/details#why-us-details" class="read-btn">Read More</a>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-images"></i>
                                <h5>Long-term Relationships</h5>
                                <p>Even the best laid plans can be blown off course. That’s why we build ...</p>
                                <a href="/details#why-us-details" class="read-btn">Read More</a>
                            </div>
                        </div>
                    </div>
                </div><!-- End .content-->
            </div>
        </div>

    </div>
</section>
<!-- End Why Us Section -->
